.App {
  text-align: center;
  background: #E5E5E5;
  color: #4A4A4A;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.limit {
    max-width: 1440px;
    margin: 0 auto;
}

.custom-radio label {
  width: 100%;
  cursor: pointer;
}

.fallback {
  position: relative;
}

.fallback__message {
  position: absolute;
  height: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.Tickets__filter {
    position: fixed;
}

@media all and (max-width: 991px) {
    .Tickets__list {
        height: calc(100vh - 250px);
        margin-top: 5px;
        overflow-y: auto;
    }

    .Tickets__filter {
        position: unset;
    }
}
